td{
    border: 1px solid;
    border-color: #212529;
    border-width: thin;
}
table{
    border-color: #212529;
    border: 2px solid;
    border-radius: 10px;
}
h2{
    font-family: calibri;
    color:#212529;
    text-align: center;
}
thead{
    font-family: consolas;
    background-color: #0E8EA8;
    color: #fff;
}
tbody{
    font-family: calibri;
    background-color: #83D1E1;
    color: #212529;
}
.well {
    background: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #CFF5FF;
}

tr td a{
    color: red;
}
tr td.active a 
{
    background-color: blueviolet;
    color: pink;
}
