
h2{
    font-family: calibri;
    color:#212529;
    text-align: center;
}
thead{
    font-family: consolas;
    background-color: #0E8EA8;
    color: #fff;
}
#table, #scheduleTable,#deliveryTable{
    border: 2px solid #212529;
    border-radius: 10px;
}
th.text-capitalize.text-center.py-1.px-2{
    border: thin solid #212529;
    border-radius: 1px;
}

table td:nth-last-of-type(1),table td:nth-last-of-type(2), table td:nth-last-of-type(3), table td:nth-last-of-type(4),
table td:nth-last-of-type(5), table td:nth-last-of-type(6), table td:nth-last-of-type(7),table td:nth-last-of-type(8){
    border: thin solid #212529;
    border-radius: 1px;
    font-family: calibri;
    color: #212529;
    text-align: center;
    vertical-align: middle;
}
tbody{
    font-family: calibri;
    background-color: #83D1E1;
    color: #212529;
}

#tablePictures{
    text-align: center;
}
td{
    
}


.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #CFF5FF;
}

#firstTable{
    position: relative;
    z-index: 1;
}
div#startHeader{
    width: 100%;
    height: 100px;
}
nav{
    position: sticky;
    z-index: 2;
}
#logoImg{
    z-index: -1;
    display: inline;
    width: 250px;
    height: 200px;
    margin-right: 150px;
    margin-left: 150px;
    transform: translateY(-50px);
}
h2#firstHeader{
    display: inline-block;
    margin-left: 100px;
    margin-right: auto;
    transform: translateY(-20px);
}
div#buttonDiv1{
    position: relative;
    display: block;
    transform: translateY(-12px);

}
#outBtn{
    font-family: consolas;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0;
}
#inBtn{
    background-color:#198754;
    color: #fff;
    font-family: consolas;
    padding-left: 27px;
    padding-right: 27px;
    transform: translateX(1138px);
}
#well{
    position: relative;
    display: block;
}
#addButton{
    color: #fff;
    font-family: consolas;
    position: absolute;
    right: 12px;
    padding-left: 22px;
    padding-right: 22px;
}
#clearButton{
    color: #fff;
    background-color: #dc3545 ;
    font-family: consolas;
    position: absolute;
    right: 12px;
    padding-left: 14px;
    padding-right: 14px;
}
#clock{
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    margin-right: 50px;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#navMain{
    position: sticky;
    background-color: #0E8EA8;
    font-family: consolas;
    margin: auto;
    padding: 2px;
}
#dropDown{
    background-color: #83D1E1;
}
a{
    background-color: white;
    color: white;
}
.navbar{
    border: 1px solid white;
}
.nav-link{
    list-style: none;
    border-right: 1px solid white;
    border-radius: 20px;
}

#myToast{
    z-index: 2;
    position: fixed;
    right: 20px;
    background-color: #0E8EA8;
    border: 1px solid rgb(0, 0, 0);
}
#toastBody{
    z-index: 2;
    color: black;
}
#myToast2{
    position: fixed;
    right: 20px;
    bottom: 215px;
    background-color: #0E8EA8;
    border: 1px solid rgb(0, 0, 0);
    z-index: 2;
}

#toastBody2{
    z-index: 2;
    color: black;
}
